@tailwind base;
@tailwind components;
@tailwind utilities;

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    background: transparent;
    position: relative;
    z-index: 10;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.slider-thumb {
    position: relative;
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-thumb::before,
.slider-thumb::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 10px;
    border-top: 3px solid #3D3E4C;
    border-right: 3px solid #3D3E4C;
    transform-origin: center;
}

.slider-thumb::before {
    transform: rotate(135deg); /* Left arrow */
    left: 15px;
    top: 50%;
}

.slider-thumb::after {
    transform: rotate(-45deg); /* Right arrow */
    right: 15px;
    top: 50%;
}

